name: Create Route53 Record from Ingress

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: ap-south-1
  CLUSTER_NAME: zero-touch-cluster
  INGRESS_NAME: app-ingress
  INGRESS_NAMESPACE: default

  # DNS CONFIG
  DOMAIN_NAME: mytesterapp.com
  RECORD_NAME: devops-zero-touch-platform.mytesterapp.com

jobs:
  route53:
    runs-on: ubuntu-latest

    steps:
    # -----------------------------------
    # Checkout
    # -----------------------------------
    - uses: actions/checkout@v4

    # -----------------------------------
    # AWS Auth (OIDC)
    # -----------------------------------
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: ap-south-1

    # -----------------------------------
    # Install kubectl
    # -----------------------------------
    - name: Install kubectl
      uses: azure/setup-kubectl@v4
      with:
        version: latest

    # -----------------------------------
    # Connect to EKS
    # -----------------------------------
    - name: Update kubeconfig
      run: |
        aws eks update-kubeconfig \
          --name $CLUSTER_NAME \
          --region $AWS_REGION

    # -----------------------------------
    # Fetch ALB DNS from Ingress
    # -----------------------------------
    - name: Get ALB DNS from Ingress
      id: alb
      run: |
        ALB_DNS=$(kubectl get ingress $INGRESS_NAME \
          -n $INGRESS_NAMESPACE \
          -o jsonpath='{.status.loadBalancer.ingress[0].hostname}')

        if [ -z "$ALB_DNS" ]; then
          echo "❌ ALB DNS not found yet"
          exit 1
        fi

        echo "ALB_DNS=$ALB_DNS" >> $GITHUB_ENV
        echo "✅ ALB DNS: $ALB_DNS"

    # -----------------------------------
    # Get Hosted Zone ID
    # -----------------------------------
    - name: Get Hosted Zone ID
      run: |
        HOSTED_ZONE_ID=$(aws route53 list-hosted-zones-by-name \
          --dns-name $DOMAIN_NAME \
          --query 'HostedZones[0].Id' \
          --output text | sed 's|/hostedzone/||')

        echo "HOSTED_ZONE_ID=$HOSTED_ZONE_ID" >> $GITHUB_ENV
        echo "✅ Hosted Zone: $HOSTED_ZONE_ID"

    # -----------------------------------
    # Create / Update Route53 Record
    # -----------------------------------
    - name: Create Route53 Alias Record
      run: |
        aws route53 change-resource-record-sets \
          --hosted-zone-id $HOSTED_ZONE_ID \
          --change-batch '{
            "Changes": [{
              "Action": "UPSERT",
              "ResourceRecordSet": {
                "Name": "'"$RECORD_NAME"'",
                "Type": "CNAME",
                "TTL": 60,
                "ResourceRecords": [{
                  "Value": "'"$ALB_DNS"'"
                }]
              }
            }]
          }'

        echo "✅ Route53 record created / updated"
